.HomeFrame {
    max-width: 650px;
    border: solid thin lightgrey;
}

.Home {
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: grey;
}

.Home h3 {
    margin-top: 0;
    margin-bottom: 10px;
}
